<a href="/calculadora"><button id="sistema">Calculadora</button></a>
<a href="/fatorial"><button id="sistema">Fatorial</button></a>
<a href="/contagem"><button id="sistema">Contagem</button></a>
<a href="/idade"><button id="sistema">Idade</button></a>

<!--
   
    >