<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/estilo.css">
    <script src="https://kit.fontawesome.com/42deadbeef.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    <litle>{{title}}</litle>


    </script>
    <title>Cadastro</title>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
       <div class="sidebar">
           <header>Projeto MVC</header>
            <ul>
                <li><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
                <li><a href="/home"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                <li><a href="/cadastro"><i class="fas fa-address-card"></i>Cadastro</a></li>
                <li><a href="/sistema"><i class="fab fa-servicestack"></i>Serviços</a></li>
            </ul>
       </div>
   
    <header>
        <!--<h1>Bem vindo ao projeto MVC</h1>
        <hr>
        !-->
    </header>
    <section>
        <div id="container">
            {{{body}}}
        </div>
    </section>
    <hr>
    <footer id="rodape">
        <a href="https://twitter.com/MaykonGamer" target="blank"><li class="fab fa-twitter"></li>Twiiter</a>
        <a href="https://www.instagram.com/maykon_regis/" target="blank"><li class="fab fa-instagram"></li>Instagram</a>
         &copy; Maykon Regis
    </footer>
</body>
</html>